<div class="row">
  <div class="col-md-5">
    <form [formGroup]="this.studentsService.form" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="$key">
      <div class="form-group">
        <label>Full Name </label>
        <input formControlName="fullName" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.fullName.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.fullName.errors">This Field is Required</div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input formControlName="email" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.email.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.email.errors">This Field is Required</div>
      </div>
      <div class="form-group">
        <label>Zip Code</label>
        <input formControlName="zip" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.zip.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.zip.errors"><label *ngIf="formControls.zip.errors.required">This Field is Required</label>
          <label *ngIf="formControls.zip.errors.minlenght">At least 4 numbers</label></div>
      </div>
      <div class="form-group">
        <label>Address</label>
        <input formControlName="address" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.address.errors}">
        <div class="invalid-feedback" *ngIf="submitted && formControls.address.errors">This Field is Required</div>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit"></div>
    </form>
  </div>
</div>
<div class="col-md-7">
  <app-students-list></app-students-list>
</div>
</div>
